* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F4F8;
}

.nav-link {
    color: black !important;
}

form i {
    font-size: 15px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 50%;
    padding: 15px;

}

form img {
    width: 50px;
    border-radius: 50%;
}

.container-bg {
    background-color: #7551FE !important;
}

.jumbotron {
    background-color: #7551FE;
}

.jumbotron h1 {
    font-size: 40px;
}

.jumbotron p {
    max-width: 500px;
    color: lightgray;
}

section {
    background-color: white;
    border-bottom: 2px solid lightgray;
}

section i {
    background-color: #FFEEDA;
    border-radius: 50%;
    padding: 15px;
}

@media screen and (max-width:580px) {
    main .card {
        width: 190px !important;
    }
}

main .card {
    width: 260px;
    border-radius: 10px;
}

main .card img:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .card-title {
    font-weight: 400;
}

main .review {
    color: orange;
    font-size: 14px;
}

main .review span:last-of-type {
    color: lightgray;
}

main .card-body div:nth-of-type(3) span:first-of-type {
    font-size: 20px;
}

main .card-body div:nth-of-type(3) span:last-of-type {
    color: lightgray;
    text-decoration: line-through;
}


main .card-footer img {
    width: 30px;
    border-radius: 50%;
}

main .card-footer span {
    color: grey;
}

.container {
    position: relative;
}

.arrow-left i {
    position: absolute;
    right: 95%;
    top: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.arrow-right i {
    position: absolute;
    left: 95%;
    top: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(0 0 0 / 0.1);

}

footer div.container {
    border-top: 1px solid lightgray;
    min-height: 50px;
    padding-top: 10px;
}

footer div:last-of-type span {
    padding: 10px;
}

.zoom {
    transform: scale(1.1);
    transition: transform 0.6s linear 0s;
}

.book-page {
    background-color: lightgray;
}